<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <% include styles.ejs %>
    </head>

    <body>
        <div class="card">
            <div class="card-header">
                StayFit
            </div>
            <div class="card-body">
                <p class="card-text"><h3>Soporte</h3></p>
                <p class="card-text">
                    Le pedimos disculpas por las molestias ocasionadas. El usuario ha sido eliminado de nuestra base de datos.
                </p>
            </div>
        </div>
    </body>
</html>
